.nav{
    background-image: url(assets/images/bg-main.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    font-family: 'Oranienbaum', serif;
    color: white;


} 
.nav_blok ul{
    list-style-type: none;

}
.nav_blok a{
    text-decoration: none;
  align-items: flex-start;
        flex-direction:row;
        color: white;
        
}

.nav__blok-nav{
    display: flex;
    margin-right: 10px;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: wrap;
    align-items: flex-start;
}

.nav__tel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* flex-direction: row-reverse;
    align-items: flex-end; */
    
}
.nav__blok-nav-list{
    margin-right: 10px;
}
.nav__blok-logo{
display: flex;
}
.nav__blok-logo-a a{
    
    color: rgb(148, 133, 50);
}
.nav__blok-logo-a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;

}
.highlight{
    background-color: white;
}
.icon{
    color: white;
    font-size: 18px;
}
h2, h3{
    font-family: 'Oranienbaum', serif;
}
.nav__icon{
    display: flex;
    flex-wrap: wrap;
}
.nav__blok-container{
    margin-left: 25px;
}
