table{
    margin: 50px 0;
    text-align: center;
    border-collapse: separate; 
    /* border: 15px solid #F2F8F8; */
    /* border-spacing: 10px;  */
    border-radius: 3px;
     border: 1px solid #eee; 
     font-family: 'Anek Devanagari', sans-serif;
    border-collapse: collapse;
     background: #fdfdfd;
     font-family: 'Oranienbaum', serif;
    font-size: 14px;
    width: auto; 
  }
  td,th{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
  }
  th{
    
    background-color: aquamarine;
  }
  .main__blok{
    display: flex;
    width: 50%;
  }
  .price{
    display: flex;
    justify-content: space-around;
   
  }
  .price__list:hover{
    transform: scale(1.1);
    background-color: gray;
  }
  .price__list{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
    overflow: hidden;
    transition: 1s;
  }
  .price__button{
    background-color: red;
    color: white;
    border: 0;
    
    height: 35px;
  }
.forum__container{
  display: flex;
  flex-direction: column;
  
}
.forum__container-list{
  display: flex;
  align-items: center;
}
.forum__container-list img{
  width: 9.37em;
}
.forum__container-list p{
  width: 11.25em;
  margin-left: 15px;
  

}