table{
    margin: 50px 0;
    text-align: center;
    border-collapse: separate; 
    /* border: 15px solid #F2F8F8; */
    /* border-spacing: 10px;  */
    border-radius: 3px;
     border: 1px solid #eee; 

    border-collapse: collapse;
     background: #fdfdfd;
    font-size: 14px;
    width: auto; 
  }
  td,th{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
  }
  th{
    
    background-color: aquamarine;
  }